.card-deck{
display: grid;
grid-template-columns: 46% 8% 46%;
width: auto;
}

.card-group{
    padding: 20px;
    height: auto;
    width: auto;
    background-color: cadetblue;
    border-radius: 5px;

}