#player-area-container {
    border-radius: 10px;
    background-color: #ccc;
    width: auto;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}
