.defense-deck{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    padding: 10px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    }

