.board-area-container {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 400px;
    border-style: groove;
    border-radius: 10px;
} 

.board-area-left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(183, 228, 228);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.board-area-right-column {
    width: 200px;
    background-color: rgb(192, 206, 243);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


